<div class="container">
  <div *ngIf="!isFetching">
    <table>
      <tr>
        <th></th>
        <th>Item Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Description</th>
        <th>Delete</th>
      </tr>
      <tr *ngFor="let data of loadedPosts; let i = index">
        <td>
          <span class="button" (click)="onEditItem(i)"
            ><i class="far fa-edit"></i
          ></span>
        </td>
        <td>{{ data.name }}</td>
        <td>{{ data.quantity }}</td>
        <td>{{ data.price }}</td>
        <td>{{ data.description }}</td>
        <td>
          <span class="button" (click)="onDeleteItem(i)"
            ><i class="far fa-trash-alt"></i
          ></span>
        </td>
      </tr>
    </table>
  </div>
  <div *ngIf="isFetching">
    <h2>Loading...</h2>
  </div>
</div>
